.d-1,
.d-2,
.d-3,
.d-4 {
  width: 400px;
  height: 400px;
  padding: 20px;
  color: rgb(0, 0, 0);
  background-image: url(windows-10.jpg);
}
.d-1 {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.d-2 {
  background-repeat: repeat-y;
  background-position-x: right;
  background-size: 90%;
}
.d-3 {
  background-repeat: repeat-x;
  background-position-y: bottom;
  background-size: 90%;
}
.d-4 {
  background-repeat: repeat;
  background-size: 50%;
}
