body,
.p-2,
.p-3 {
  background-image: url(windows-10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.p-1,
.p-2,
.p-3 {
  font-family: Arial, Helvetica, sans-serif;
  width: 300px;
  height: 120px;
  padding: 20px;
}
.p-1 {
  background-color: rgb(189, 109, 255);
}
.p-2 {
  background-image: url(windows-10.jpg);
  color: rgb(255, 255, 255);
}
.p-3 {
  background-image: url(windows-10.jpg);
  color: rgb(255, 255, 255);
}
