* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-image: url(images/start-streaming.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: system-ui;
}
.main-box {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 350px;
  width: 350px;
  background: rgb(9, 26, 65);
  color: white;
  padding: 40px;
  overflow: hidden;
  box-shadow: 0px 0px 60px #07172e;
  transform: translate(-50%, -50%);
}
.main-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.09);
  transition: 0.5s;
}
.main-box:hover:before {
  left: -50%;
  transform: skewX(-5deg);
}
.main-box .content {
  position: absolute;
  text-align: center;
  border: 2px solid rgb(38 67 79);
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  padding: 20px;
}
.content h2 {
  font-size: 25px;
  padding: 10px;
}
.main-box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-box span:nth-child(1) {
  transform: rotate(0deg);
}
.main-box span:nth-child(2) {
  transform: rotate(90deg);
}
.main-box span:nth-child(3) {
  transform: rotate(180deg);
}
.main-box span:nth-child(4) {
  transform: rotate(270deg);
}

.main-box span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: rgb(38 67 79);
  animation: move 3s linear infinite;
}
@keyframes move {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50.1% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}