.p-1,
.p-2,
.p-3 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(196, 196, 196);
  padding: 20px;
}
.p-1 {
  border-left: 5px solid red;
}
.p-1 span {
  font-size: 22px;
  color: red;
}
