.p-1,
.p-2,
.p-3 {
  font-family: Arial, Helvetica, sans-serif;
  width: 300px;
  height: 150px;
  padding: 20px;
  display: inline-block;
}
.p-1 {
  border: 5px solid red;
}
.p-2 {
  background-color: rgb(119, 0, 255);
  color: rgb(255, 255, 255);
  border-left: 5px dashed red;
  border-right: 5px dotted red;
}
.p-3 {
  background-color: rgb(196, 196, 196);
  color: rgb(255, 255, 255);
  border-top: 5px dashed red;
  border-bottom: 5px solid red;
}
